body {
    background-color: black;
    color: white;
}

/* Estrutura do media queries */

@media (max-width: 400px) {
    body {
        background-color: red;
        color: blue;
    }

    p {
        font-size: 40px;
    }
}

@media (min-width: 401px) and (max-width: 600px) {
    body {
        background-color: green;
    }
}

@media (min-width: 601px) and (max-width: 800px) {
    body {
        background-color: blue;
    }
}